.react-multiple-carousel__arrow {
    display: none;
}

.testimonial-carousel-container {
    width: 640px;
    height: 136px;
    margin-top: 40px;
    margin-left: 40px;
}

.testimonial-card-1 {
    width: 310px;
    height: 96px;
    border-radius: 12px;
    padding: 20px;
    background-color: #ffffff;
}

.testimonial-card-2 {
    width: 353px;
    height: 96px;
    margin-left: -260px;
    border-radius: 12px;
    padding: 20px;
    background-color: #ffffff;
}

.testimonial-card-3 {
    width: 531px;
    height: 96px;
    margin-left: -480px;
    border-radius: 12px;
    padding: 20px;
    background-color: #ffffff;
}

.jack {
    width: 50px;
    height: 19px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #19191A;
    font-family: 'Inter', sans-serif;
}

.Blackrock {
    width: 103px;
    height: 16px;
    margin-left: 8px;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #96979A;
    font-family: 'Inter', sans-serif;
}

.jack-supporting-text-container {
    width: 313px;
    height: 57px;
    margin-top: 21px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #1D2129;
    font-family: 'Inter', sans-serif;
}

.yash {
    width: 52px;
    height: 19px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #19191A;
    font-family: 'Inter', sans-serif;
}

.research {
    width: 230px;
    height: 16px;
    margin-left: 8px;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #96979A;
    font-family: 'Inter', sans-serif;
}

.yash-supporting-text-container {
    width: 313px;
    height: 57px;
    margin-top: 21px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #1D2129;
    font-family: 'Inter', sans-serif;
}

.shiv {
    width: 48px;
    height: 19px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #19191A;
    font-family: 'Inter', sans-serif;
}

.co-founder {
    width: 149px;
    height: 16px;
    margin-left: 8px;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #96979A;
    font-family: 'Inter', sans-serif;
}

.shiv-supporting-text-container {
    width: 491px;
    height: 57px;
    margin-top: 21px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #1D2129;
    font-family: 'Inter', sans-serif;
}
